@media only screen and (max-width: 576px) {
	.hero,
	.navbar,
	.skill-card,
	.resume-content,
	.footer-container,
	.personal-information {
		flex-direction: column;
	}

	.about-section {
		padding: 50px 54px;
	}

	.resume-content {
		padding: 0 20px;
	}
}

@media screen and (min-width: 576px) and (max-width: 990px) {
	.hero,
	.navbar,
	.skill-card,
	.resume-content,
	.footer-container,
	.personal-information {
		flex-direction: column;
	}

	.about-section {
		padding: 80px 80px;
	}
	.resume-content {
		padding: 0 20px;
	}
}
